[Desktop Entry]
Name=kmonad
Comment=Run kmonad 
Exec=sh -c "kmonad /home/lam/.config/kmonad/built-in.kbd & kmonad /home/lam/.config/kmonad/gmk67.kbd"
Type=Application
